@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 201 71% 52%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 150 100% 50%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 201 71% 52%;
 
    --radius: 0.5rem;

    --chart-1: 201 71% 52%;
    --chart-2: 150 100% 50%;
    --chart-3: 240 5% 65%;
    --chart-4: 201 71% 62%;
    --chart-5: 150 100% 60%;

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 201 71% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 12%;
    --sidebar-ring: 201 71% 52%;
  }
 
  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 98%;

    --card: 0 0% 11%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 201 71% 52%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 150 100% 50%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 201 71% 52%;

    --chart-1: 201 71% 52%;
    --chart-2: 150 100% 50%;
    --chart-3: 240 5% 65%;
    --chart-4: 201 71% 62%;
    --chart-5: 150 100% 60%;

    --sidebar-background: 0 0% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 201 71% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 18%;
    --sidebar-ring: 201 71% 52%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
